[*.cs]

# CS0618: Type or member is obsolete
dotnet_diagnostic.CS0618.severity = silent

# MVC1005: Cannot use UseMvc with Endpoint Routing.
dotnet_diagnostic.MVC1005.severity = silent

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = silent
